#demo {
-moz-transform: scale(1.1) translate(70px, 19px);
-webkit-transform: scale(1.1) translate(70px, 19px);
-o-transform: scale(1.1) translate(70px, 19px);
-ms-transform: scale(1.1) translate(70px, 19px);
transform: scale(1.1) translate(70px, 19px);
}